.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left {
  text-align: left;
  width: 100%;
  border: 1px solid black;
}

.add-button {
  width: 100%;
  font-size: 2em;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.delete-button {
  width: 100px;
  background-color: white;
  border: 2px solid black;
  font-size: 1.5em;
}

table {
  width: 100%;
}

tbody {
  width: 100%;
}
tr {
  width: 100%;
}
tr:nth-child(2n) {
  background-color: #ddd;
}

td:first-child {
  width: 102px;
}

td:nth-child(2) {
  width: 100px;
  text-align: left;
}
